body {
    font-family: 'Alkatra', cursive ;
    background-color: aquamarine;
    justify-content: center;
}

::placeholder{
    color: #0062E6;
    font-size: 0.8em;
    font-style: italic;
    fill-opacity: calc(0.4)  ;
}

.img-logo{
    margin-left: 15px;
}
.carousel-inner img {

    height: 45rem;
    object-fit: cover;
    filter: brightness(0.6);


}


.catalogo {
    width: 100%;


    justify-content: space-between;
    flex-wrap: wrap;

}

.container_cards {
    width: 100%;
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    object-fit: fill;
}

.card {
    width: 250px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 250px;
    height: 210px;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido p {
    line-height: 1, 5;
    color: #6a6a6a;
}

.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    transition: all 400ms ease;
}

.card .contenido a:hover {
    background: #2fb4cc;
    color: #fff;
}







--nuevo registro con redes ss

body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }

/* footer */
.pie-pagina{
    width: 100%;
    background-color: #fff;
    
}

.pie-pagina .grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    padding: 55px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box{
    text-align: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 100px;
}
.pie-pagina .grupo-1 .box h2{
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
}

.nav .menu2{
    background-color: #0a1a2a;
}
.header .nav .menu{
    background-color: #0a1a2a;
}
.encabezado-pagina .divmenu .navmenu a{
    padding: 55px;
}
.pie-pagina .grupo-1 .box li{
    list-style: none;
    margin-top: 12px;
    
    
}
.pie-pagina .grupo-1 .box ul li a{
    text-decoration: none;
    margin-top: 45px;
    color: #333;
    transition: all 300ms ease;
    text-align: center;
    
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 85px;
    height: 45px;
    line-height: 45px;
    color: #333;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-1 .box a:hover{
    color: aqua;
}
.pie-pagina .grupo-1 .box p{
    margin-left: 15px;
    text-align: justify;
    
}

.pie-pagina .grupo-2{
    padding: 15px 10px;
    text-align: center;
    color: #0a1a2a;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        padding: 35px 0px;
}
    
}


body{margin-top:20px;}

.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 38px;
    line-height: 81px;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #0da9ef
}

.steps .step.completed .step-icon {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff
}

@media (max-width: 576px) {
    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 768px) {
    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 991px) {
    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 1200px) {
    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}


.bg-faded, .bg-secondary {
    background-color: #f5f5f5 !important;
}




